<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{title}}</title>
        <meta name="author" content="Nil Gradisnik">
        <meta name="description" content="Homepage of Nil Gradisnik">

        <style>{{inline_css}}</style>
    </head>

    <body>
        <section>
            <h1>{{title}}</h1>
        </section>
    </body>
</html>